<html>
	<%- include("./partials/head.ejs") %>
	<body>
		<%- include("./partials/header.ejs") %>
		<div class="content-container">
			<div class="layout-container">
				<div class="file-container">
					<div class="folder-nav-container">
						<h2>Files</h2>
						<% if (folder.parentId) { %>
							<a href="/folder/<%=folder.parentId%>">Back to <%= folder.parent.name %></a>
						<% } %>
					</div>
					<table class="file-table">
						<thead>
							<tr>
								<th>Name</th>
								<th>Uploaded</th>
								<th>Size</th>
							</tr>
						</thead>
						<tbody>
								<% if (folder.children.length !== 0) { %>
								<% folder.children.forEach((folder) => { %>
								<%- include('./partials/folderRow.ejs', {folder}) %>
								<% })} %>

								<% folder.files.forEach((file) => { %>
								<%- include('./partials/tableRow.ejs', {file, formatFileSize}) %>
						<%	}); %>
						</tbody>
					</table>
				</div>
				<div>
					<%- include("./partials/errors.ejs") %>
					<div class="form-container">
						<h2>Upload File</h2>
						<form
							action="/folder/upload"
							method="post"
							enctype="multipart/form-data"
						>
							<label for="upload"
								>Select file:<input type="file" name="upload" id="upload"
							/></label>

							<input type="text" name="folderId" value="<%= folder.id %>" hidden>

							<button class="justify-self-center" type="submit">Upload</button>
						</form>
						<h2>Create Folder</h2>
						<form action="/folder/create" method="post">
							<label for="folderName">Folder Name:<input type="text" name="folderName" id="folderName"></label>

							<input type="text" name="parentId" value="<%= folder.id %>" hidden>

							<button class="justify-self-center" type="submit">Create</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
